<?xml version="1.0"?>
<configuration>
	<startup>
    <requiredRuntime version="v2.0.50727"/>
	</startup>
	<runtime>
        <legacyUnhandledExceptionPolicy enabled="true" />
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Libs;Providers"/>
		</assemblyBinding>
	</runtime>

    <appSettings>
        <add key="DatabaseName"     value="mce"/>
        <add key="DatabaseHostname" value="localhost"/>
        <add key="DatabasePort"     value="3306"/>
        <add key="DatabaseUsername" value="root"/>
        <add key="DatabasePassword" value="metreos"/>

        <!-- For Cisco engineering use only -->
        <add key="DeveloperMode"    value="False"/>
    </appSettings>
</configuration>
