<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="MetreosFrameworkLocation" value="" />
    </appSettings>
    
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="Libs;Providers"/>
        </assemblyBinding>
    </runtime>
</configuration>
