/* Build Constants */

#define MetreosBuildConstBuildID "@BuildID@"
#define MetreosBuildConstBuildIDFQ "@BuildIDFQ@"
#define MetreosBuildConstBuildReleaseType "@BuildReleaseType@"
#define MetreosBuildConstBuildNumber "@BuildNumber@"
