<?xml version="1.0" encoding="utf-8" ?>
    <configuration>
        <appSettings>
            <add key="appServerIp" value="192.168.1.150" />
            <add key="callGenIp" value="192.168.1.136" />
            <add key="mediaServerIp" value="192.168.1.150" />
        </appSettings>
    </configuration>