<?xml version="1.0"?>
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="SecureBlackbox.SSHCommon" publicKeyToken="C45703F7B09C3FA9" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-4.4.0.94" newVersion="4.4.0.94"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="SecureBlackbox" publicKeyToken="C45703F7B09C3FA9" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-4.4.0.94" newVersion="4.4.0.94"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="SecureBlackbox.SFTPCommon" publicKeyToken="C45703F7B09C3FA9" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-4.4.0.94" newVersion="4.4.0.94"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="SecureBlackbox.PKI" publicKeyToken="C45703F7B09C3FA9" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-4.4.0.94" newVersion="4.4.0.94"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

    <appSettings file="../cuae-common.config">
        <add key="SftpListenPort"   value="22"/>
        <add key="GrammarUsername"  value="grammars"/>
        <add key="MediaUsername"    value="media"/>
    </appSettings>
</configuration>
