<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Metreos.Interfaces" publicKeyToken="F5C449A9231C16F1" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
