<?xml version="1.0"?>
<configuration>
	<startup>
	</startup>
	<runtime>
		<legacyUnhandledExceptionPolicy enabled="true"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Libs;Providers"/>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1B03E6ACF1164F73" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-0.85.0.0" newVersion="0.85.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings file="../cuae-common.config">
		<add key="IncludeXMLHeader" value="true"/>
		<add key="RouterDiscardTriggeringEventsQueueThreshold" value="10"/>
		<add key="MessageQueueHighWaterWarningThreshold" value="25"/>
	</appSettings>
</configuration>
