<?xml version="1.0"?>
<configuration>
    <startup>
        <requiredRuntime version="v2.0.50727"/>
    </startup>
    <appSettings>
        <add key="DatabaseName"     value="mce"/>
        <add key="DatabaseHostname" value="localhost"/>
        <add key="DatabasePort"     value="3306"/>
        <add key="DatabaseUsername" value="root"/>
        <add key="DatabasePassword" value="metreos"/>
        <add key="DeveloperMode"    value="False"/>
        <add key="IncludeXMLHeader"                             value="true"/>
        <add key="RouterDiscardTriggeringEventsQueueThreshold"  value="10"/>
        <add key="MessageQueueHighWaterWarningThreshold"        value="25"/>
    </appSettings>
</configuration>
