<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DatabaseName" value="monitor_call" />
		<add key="DatabaseHostname" value="localhost" />
		<add key="DatabasePort" value="3306" />
		<add key="DatabaseUsername" value="root" />
		<add key="DatabasePassword" value="metreos" />
		<add key="AuditLogPath" value="c:\\monitor_call\\AuditLog" />
    </appSettings>
</configuration>
