############################################
# Config file for pcap-service             #
############################################

# Define ethernet interface id for pcap-service to capture network packets from.
# Run "pcap-service -N" to list available interfaces on running appliance.
ETHERNET_INTERFACE_ID=2